<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">主页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/ui_select.html">系统设置</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event
                        <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders
                        <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users
                        <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<h3 class="page-title"> 设置
    <small>AngularJS-native version of Select2</small>
</h3>-->
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!--<div class="note note-success">
    <h3>UI Select</h3>
    <p> AngularJS-native version of Select2 </p>
    <p> For more info please check the
        <a href="https://github.com/angular-ui/ui-select">official github page</a>
    </p>
</div>-->

<div class="row" style="margin-top: 10px">
    <div style="height:700px;width:100%;float:left;">
        <div class="col-md-12" style="height:700px ">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered form-fit" >
                <div class="portlet-title" style="height:80px">
                    <div class="caption">
                        <i class="fa fa-cogs font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">系统设置</span>

                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#" data-toggle="modal" class="config"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body form" style="height:620px">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal form-bordered form-row-stripped">
                        <div class="form-body">
                            <div class="portlet" style="width: 100%;float: left;margin: 0 0 20px 0">
                            <div class="form-group">
                                <label class="control-label col-md-3">系统名称</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="请填写系统名称" class="form-control" />
                                    <span class="help-block"> 系统名称 </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">温度报警阈值</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="请填写温度报警阈值" class="form-control" />
                                    <span class="help-block">温度报警阈值</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">CO2报警阈值</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="请填写CO2报警阈值" class="form-control" />
                                    <span class="help-block">CO2报警阈值</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">红外线报警阈值</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="请填写红外线报警阈值" class="form-control" />
                                    <span class="help-block">红外线报警阈值</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">紫外线报警阈值</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="请填写紫外线报警阈值" class="form-control" />
                                    <span class="help-block">紫外线报警阈值</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">紫外线报警阈值</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="请填写紫外线报警阈值" class="form-control" />
                                    <span class="help-block">紫外线报警阈值</span>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div  style="width: 100%;text-align: center">
                            <button type="submit" class="btn green">
                                <i class="fa fa-check"></i> 保存</button>
                            <button type="button" class="btn default">取消</button>
                        </div>

                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
</script>
<!-- BEGIN MAIN JS -->