<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">主页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/ui_select.html">设置</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event
                        <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders
                        <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users
                        <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title"> 设置
    <small>AngularJS-native version of Select2</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
    <h3>UI Select</h3>
    <p> AngularJS-native version of Select2 </p>
    <p> For more info please check the
        <a href="https://github.com/angular-ui/ui-select">official github page</a>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <form>
            <div style="float:left;width:50%">
               
                    
                <table class="list-group" style="width:100%">
                    <thead >
                        <tr class="list-group-item">
                            <th style="padding-right:200px">功能</th>
                            <th>参数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td >
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>

                        </tr>
                        

                    </tbody>
                </table>
               
            
            </div >

            <div style="float:left;width:50%">
                
                <table class="list-group" style="width:100%">
                    <thead >
                        <tr class="list-group-item">
                            <th style="padding-right:200px">功能</th>
                            <th>参数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td >
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>
                            <tr class="list-group-item">
                            <td style="padding-right:200px">功能1</td>
                            <td>
                                <select class="form-control select select-primary" data-toggle="select">
                                   <option value="0">Choose hero</option>
                                      <option value="1">Spider Man</option>
                                      <option value="2">Wolverine</option>
                                      <option value="3">Captain America</option>
                                      <option value="4" selected>X-Men</option>
                                      <option value="5">Crocodile</option>
                                </select>
                            </td>

                        </tr>
                        </tr>

                    </tbody>
                </table>
                
          
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">保存修改设置</button>
            </form>
            
         </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
</script>
<!-- BEGIN MAIN JS -->